@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~bootstrap/dist/css/bootstrap.min.css';

@media (max-width: 768px) {
    .nav-list {
      display: none;
    }
  
    .logo {
      margin: 0 auto;
    }
  }
  

h1 {
    /* 屬性: 值; */
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 18.72px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 13.28px;
}

h6 {
    font-size: 10.72px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
}

a {
    color: #0070f3;
    text-decoration: none;
}

nav a {
    color: white;
    margin-right: 15px;
    font-weight: 900;
    text-decoration: none;
}

/* 選到最後一個放在nav裡的a */
nav a:last-child {
    margin-right: 0;
}

/* header {
    background-color: #ccc;
    text-align: center;
    padding: 80px 0px;
    border-bottom: 2px solid #aaa;
} */

.important-title {
    color: red;
}

html {
    scroll-behavior: smooth;
  }
  